.nav {
  background-color: var(--preto1);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0px;
  min-height: 100vh;
  width: 0;
  z-index: 200;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.navActive {
  background-color: var(--preto2);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0px;
  min-height: 100vh;
  width: 80vw;
  z-index: 1000;
  display: flex;
  opacity: 1;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  transition: 0.3s;
  padding: 3rem;
}

/* Mobile Button */
.mobileButton {
  border-radius: 5px;
  background: none;
  height: 40px;
  width: 40px;
  border: none;
  transition: 0.2s;
  outline: none;
  cursor: pointer;
  z-index: 2000;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0 2rem;
  transition: 0.3s;
}

.mobileButtonActive {
  right: 0;
  top: 0;
  padding: 0;
  position: absolute;
}

.mobileButton .hamburger {
  border-top-color: var(--branco);
}

.mobileButtonActive .nav {
  width: 100vw;
}
.mobileButtonActive .hamburger {
  border-top-color: transparent;
}
.mobileButtonActive .hamburger::before {
  transform: rotate(135deg);
  background-color: var(--branco);
  left: 15px;
}
.mobileButtonActive .hamburger::after {
  transform: rotate(-135deg);
  background-color: var(--branco);
  top: -7px;
  left: 15px;
}

.hamburger {
  display: block;
  width: 20px;
  border-top: 2px solid var(--branco);
  position: fixed;
  z-index: 3000;
  transition: 0.1s;
}

.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  background-color: var(--branco);
  width: 20px;
  height: 2px;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
  transition: 0.3s;
}

.infoUser {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  background-color: var(--amarelo);
  opacity: 0;
  border-radius: 100px;
}

.infoUserActive {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  background-color: var(--amarelo);
  padding: 1rem;
  opacity: 1;
  transition: 0.3s;
}
