.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 0 2rem;
}

.nav a,
.nav button {
  background-color: #d8d8d8;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1);
}
.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
  background-color: var(--amarelo);
  border-color: var(--cor-a5);
}

.sairBtn {
  border: none;
  background: none;
  outline: none;
}

.nav a:global(.active) svg > * {
  /* fill: var(--amarelo2); */
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.navContainerMobile {
  display: flex;
  justify-content: space-between;
}

.navMobile ul {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  padding: 0.2rem 3rem;
  align-items: center;
  background-color: var(--amarelo);
  z-index: 1000;
}

.navMobile li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navMobile li a {
  display: flex;
  align-items: center;
  padding: 1rem;
  outline: none;
}

.navMobile li a:hover,
.navMobile li a:focus,
.navMobile button:hover,
.navMobile button:focus {
  background-color: var(--amarelo3);
  border-color: var(--cor-a5);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.navMobile svg {
  width: 32px;
  height: 32px;
}

@media (max-width: 800px) {
  .navMobile ul {
    padding: 0.2rem 1rem;
  }
}
