.infoPlans {
  text-transform: capitalize;
  font-weight: 500;
  opacity: 0;
  display: block;
  color: var(--branco);
}

.ativo.infoPlans {
  text-transform: capitalize;
  font-weight: 500;
  opacity: 1;
  transition: 0.3s;
  display: flex;
  color: var(--branco);
}

.infoPlans span {
  color: green;
}
