@import "../MenuMobile.module.css";
.infoMenu a {
  display: none;
}

.ativo.infoMenu {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  background-color: var(--cor-a1);
  padding: 1.5rem;
  border-radius: 10px;
  transition: 0.3s;
  border-bottom: 1px solid var(--cor-a6);
  color: var(--branco1);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ativo.infoMenu a {
  color: var(--branco1);
  display: flex;
  gap: 0.5rem;
  padding: 0.8rem;
  transition: 0.3s;
  align-items: center;
}
.ativo.infoMenu a:hover {
  background-color: var(--cor-a2);
  padding: 0.8rem;
  border-radius: 100px;
}

.ul {
  display: none;
}

.ativo.ul {
  display: block;
}

.ativo.ul ul li {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.sairBtn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.sairBtnContainer {
  color: var(--preto1);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--amarelo);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
}
