.infoContent {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  grid-row: 1;
  opacity: 0;
  pointer-events: none;
  justify-content: space-between;
}
.ativo.infoContent {
  opacity: 1;
  pointer-events: initial;
  transition: 0.5s;
}

.userProfile {
  display: block;
  padding: 1rem;
  font-weight: 500;
  font-size: 2.5rem;
}

.login {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--branco);
}

.plano {
  font-weight: 500;
  text-transform: capitalize;
  padding: 1rem;
}
.plano span {
  color: green;
}
