.form {
  margin-bottom: 2rem;
}

.perdeu {
  color: #666;
  display: inline-block;
  padding: 0.5rem;
  line-height: 1;
}
.perdeu::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: currentColor;
  display: block;
}

.cadastro {
  margin-top: 4rem;
}

.cadastro p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* Button Cadastro */
.button {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  border: none;
  background-color: var(--amarelo);
  color: var(--amarelo2);
  font-weight: 500;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: 0.2s;
  min-width: 8rem;
  max-width: max-content;
  box-shadow: -5px -5px 10px #dfdfdf, 5px 5px 10px #ffffff;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--amarelo3), 0 0 0 4px var(--amarelo);
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}

/* Button entrar */

.buttonEntrar {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  border: none;
  background-color: var(--amarelo);
  color: var(--amarelo2);
  font-weight: 500;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: 0.2s;
  min-width: 8rem;
  box-shadow: -5px 5px 10px #dfdfdf, 5px 5px 10px #ffffff;
}

.buttonEntrar:hover,
.buttonEntrar:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--amarelo3), 0 0 0 4px var(--amarelo);
}

.buttonEntrar:disabled {
  opacity: 0.5;
  cursor: wait;
}
