.login {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  padding-top: 6rem;
  background-image: url(../../assets/img/banner.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.forms {
  border-radius: 17px;
  background-color: var(--branco);
  box-shadow: 1px 1px 3px #afafaf41, -1px -1px 3px #ffffff2d;
  padding: 6rem;
  margin-bottom: 6rem;
  display: grid;
  max-width: 70rem;
  justify-items: center;
}

.forms h4 {
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

.logo {
  justify-self: center;
}

@media (max-width: 800px) {
  .forms {
    min-width: max-content;
    box-shadow: none;
    margin: none;
    background: none;
    padding: 3rem;
  }

  .login {
    padding: 0;
    padding-top: 0;
    background: none;
    display: block;
  }
}
